.barreHTML{
    height:20px;
    width:200px;
    margin:15px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.progressHTML{
    margin:0;
    background-color:#00AC0C;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height:20px;
    width:75%;
    box-shadow:0px 0px 15px 1px #00AC0C;
}

.barrePHP{
    height:20px;
    width:200px;
    margin:15px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.progressPHP{
    margin:0;
    background-color:#E6681F;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height:20px;
    width:35%;
    box-shadow:0px 0px 15px 1px #E6681F;
}
.barreJS{
    height:20px;
    width:200px;
    margin:15px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.progressJS{
    margin:0;
    background-color:red;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height:20px;
    width:10%;
    box-shadow:0px 0px 15px 1px red;
}
.barreOSW{
    height:20px;
    width:200px;
    margin:15px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.progressOSW{
    margin:0;
    background-color:#196B00;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height:20px;
    width:90%;
    box-shadow:0px 0px 15px 1px #196B00;

}
.barreOSL{
    height:20px;
    width:200px;
    margin:15px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.progressOSL{
    margin:0;
    background-color:#95D723;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height:20px;
    width:70%;
    box-shadow:0px 0px 15px 1px #95D723 ;
}
.barreNANO{
    height:20px;
    width:200px;
    margin:15px;
    border-style: solid;
    border-color: black;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.progressNANO{
    margin:0;
    background-color:#FEC301;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height:20px;
    width:55%;
    box-shadow:0px 0px 15px 1px #FEC301 ;
}
@media screen and (max-width: 625px)
{
  .barreHTML{
      height:10px;
      width:150px;
      margin:15px;
      border-style: solid;
      border-color: black;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
  }

  .progressHTML{
      margin:0;
      background-color:#00AC0C;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height:10px;
      width:75%;
      box-shadow:0px 0px 15px 1px #00AC0C;
  }

  .barrePHP{
      height:10px;
      width:150px;
      margin:15px;
      border-style: solid;
      border-color: black;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
  }

  .progressPHP{
      margin:0;
      background-color:#E6681F;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height:10px;
      width:35%;
      box-shadow:0px 0px 15px 1px #E6681F;
  }
  .barreJS{
      height:10px;
      width:150px;
      margin:15px;
      border-style: solid;
      border-color: black;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
  }

  .progressJS{
      margin:0;
      background-color:red;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height:10px;
      width:10%;
      box-shadow:0px 0px 15px 1px red;
  }
  .barreOSW{
      height:10px;
      width:150px;
      margin:15px;
      border-style: solid;
      border-color: black;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
  }

  .progressOSW{
      margin:0;
      background-color:#196B00;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height:10px;
      width:90%;
      box-shadow:0px 0px 15px 1px #196B00;

  }
  .barreOSL{
      height:10px;
      width:150px;
      margin:15px;
      border-style: solid;
      border-color: black;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
  }

  .progressOSL{
      margin:0;
      background-color:#95D723;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height:10px;
      width:70%;
      box-shadow:0px 0px 15px 1px #95D723 ;
  }
  .barreNANO{
      height:10px;
      width:150px;
      margin:15px;
      border-style: solid;
      border-color: black;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
  }

  .progressNANO{
      margin:0;
      background-color:#FEC301;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height:10px;
      width:55%;
      box-shadow:0px 0px 15px 1px #FEC301 ;
  }
}
